   * {
       margin: 0;
       padding: 0;
       font-family: 'Poppins';
   }

   #abrir-menu {
       display: flex;
   }

   #abrir-menu.esconder {
       display: none;
   }

   #fechar-menu {
       display: none;
   }

   #fechar-menu.mostrar {
       display: flex;
   }

   #header {
       background-color: rgb(255, 255, 255);
       color: #0e3960;
       position: sticky;
       top: 0;
       z-index: 50;
       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
       transition: all 0.4s ease;
       width: 100%;
       height: 73px;
       display: flex;
   }

   #box-img {
       display: flex;
       align-items: center;
       gap: 10px;
       width: 200px;
       text-decoration: none;
   }

   #box-img img {
       width: 45px;
   }

   #box-img p {
       font-family: 'Poppins';
       font-size: 13.5px;
       font-weight: 800;
       color: #1535b5ce;
       text-align: left;
   }

   #paginas {
       display: flex;
       justify-content: space-between;
       padding: 15px;
       width: 100%;
   }

   #nav1 {
       display: flex;
       justify-content: space-evenly;
       width: 55%;
   }

   #formulario {
       display: flex;
       align-items: center;
       list-style: none;
       position: relative;
   }

   #formulario button {
       background-color: #1535B5;
       color: white;
       font-family: 'Poppins';
       font-weight: 600;
       font-size: 15px;
       border: none;
       border-radius: 0.4rem;
       width: 120px;
       height: 40px;
       cursor: pointer;
       transition: all 0.3s;
   }

   #formulario button:hover {
       background-color: #142e96;
   }

   #formulario:hover+.nuvem-info {
       display: block;
   }

   .nuvem-info {
       position: absolute;
       top: 92%;
       right: 0;
       margin-right: 15px;
       width: 250px;
       background-color: rgb(87, 87, 87);
       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
       padding: 17px;
       border-radius: 0.3rem;
       display: none;
       transition: all 0.3s;
   }

   .hovered {
       display: flex;
       flex-direction: column;
       align-items: center;
   }

   .nuvem-info .nuvem-info-texto::after {
       content: "";
       position: absolute;
       bottom: 100%;
       left: 78%;
       margin-left: -5px;
       border-width: 7px;
       border-style: solid;
       border-color: transparent transparent rgb(87, 87, 87) transparent;
   }

   .nuvem-info-titulo {
       font-family: 'Poppins';
       color: white;
       margin-bottom: 14px;
   }

   .nuvem-info-texto {
       font-family: 'Poppins';
       color: white;
       text-align: justify;
       font-size: 15px;
       margin-bottom: 10px;
   }

   #user {
       background-color: rgba(255, 255, 255, 0);
       border: none;
       color: #0e3960;
       text-decoration: none;
       font-size: 17px;
       font-weight: bold;
       text-transform: uppercase;
       cursor: pointer;
       height: 30px;
       margin-top: 7px;
       align-self: center;
   }

   header nav {
       display: flex;
       flex-direction: row;
       flex-grow: 1;
       justify-content: space-between;
   }

   header nav ul {
       list-style: none;
       display: flex;
       padding: 0;
   }

   nav ul li {
       display: flex;
       align-items: center;
   }

   .item-nav2 {
       text-decoration: none;
       color: #132b8b;
       font-weight: 600;
       margin-bottom: 5px;
       width: 100%;
       height: 100%;
       display: flex;
       align-items: center;
   }

   .item-nav {
       color: #1535b5bd;
       text-decoration: none;
       font-size: 15px;
       font-weight: 600;
       font-family: 'Poppins', sans-serif;
       display: inline-block;
       padding: 5px 10px;
       position: relative;
   }

   .item-nav:after {
       bottom: 0;
       content: "";
       display: block;
       height: 1.5px;
       left: 50%;
       position: absolute;
       background: #1535b5bd;
       transition: width 0.3s ease 0s, left 0.3s ease 0s;
       width: 0;
   }

   .item-nav:hover:after {
       width: 90%;
       left: 6px;
   }

   .item-nav {
       transition: all 0.3s;
   }

   .item-nav:hover {
       color: #1535B5;
       transform: scale(1.1);
   }

   #forms {
       transition: all 0.2s;
   }

   #forms:hover {
       color: #1535B5;
   }

   #checkbox {
       display: none;
   }

   #botao {
       display: none;
       font-size: 28px;
       color: #00304D;
       cursor: pointer;
       float: right;
       margin-right: 6%;
   }

   #nav2 {
       display: none;
   }

   #nav2 li {
       height: 50px;
       border-bottom: none;
       width: 100%;
       font-size: 18px;
   }

   #nav2.mostrar-menu li {
       border-bottom: solid 1px rgba(0, 0, 0, 0.212);
   }

   #nav2 li a {
       padding-left: 5%;
       color: #223c85;
       font-weight: 500;
       display: flex;
       gap: 55%;
   }

   #chevron-down {
       display: flex;
       transition: transform 0.3s;
   }

   #chevron-down.girar {
       transform: rotate(180deg);
   }

   #nav2.mostrar-menu li {
       border-bottom: solid 1px rgba(0, 0, 0, 0.212);
   }

   #li-form-aberto {
       display: none;
       background-color: rgb(87, 87, 87);
       margin-top: -2px;
       height: max-content !important;
       flex-direction: column !important;
       justify-content: center !important;
   }

   #li-form-aberto.hovered {
       display: flex;
   }

   .titulo-form-aberto {
       font-family: 'Poppins';
       color: white;
       margin-top: 4%;
       margin-bottom: 14px;
   }

   .p-form-aberto {
       font-family: 'Poppins';
       color: white;
       text-align: justify;
       font-size: 18px;
       width: 85%;
       margin-bottom: 5%;
   }

   #li-form-aberto a {
       text-decoration: none;
   }

   #li-form-aberto button {
       background-color: #1535B5;
       color: white;
       font-family: 'Poppins';
       font-weight: 600;
       font-size: 18px;
       border: none;
       border-radius: 0.4rem;
       cursor: pointer;
       transition: all 0.3s;
       padding: 10px;
       margin-bottom: 10%;
       display: flex;
       justify-content: center;
       align-items: center;
       width: max-content;
   }

   #li-form-aberto button:hover {
       background-color: #142e96;
   }

   #formulario-nav2 {
       background-color: #1535B5;
       width: 100%;
       height: 100%;
       display: flex;
       align-items: center;
       color: white !important;
       font-weight: 600 !important;
   }

   /* fim nav  */

   h2 {
       letter-spacing: 3px;
   }

   #div1 {
       display: flex;
       background-color: white;
       border-radius: 4px;
       box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
       max-width: 100%;
   }

   .text-section {
       padding: 10px 50px;
       background-color: #fff;
       width: 92%;
   }

   .text-section h2 {
       line-height: 90px;
       margin-top: 120px;
       font-size: 70px;
       color: #1535B5;
       font-weight: 700;
   }

   .text-section p {
       margin-top: 37px;
       font-size: 22px;
       text-align: justify;
       color: #4B4B4B;
   }

   .image-section {
       width: 50%;
   }

   .image-section img {
       width: 567px;
       height: 100%;
       margin: 30px 80px 0 80px;
       object-fit: cover;
   }

   #btn-section1 {
       padding: 18px;
       background-color: #1535B5;
       border-radius: 20px;
       margin: 50px;
       width: 16.3em;
       font-weight: 600;
   }

   #btn-section1 a {
       font-size: 24px;
       text-decoration: none;
       color: #fff;
   }

   #section2 {
       background-color: #C5D1FF;
       z-index: 2;
       position: relative;
       height: 103vh;
   }

   #div2 {
       display: flex;
       margin-bottom: 50px;
       padding: 0;
       padding-right: 85px;
   }

   #section2 #texto2 {
       width: 45%;
       padding: 40px;
   }

   #title-sec2 h2 {
       font-size: 53px;
       line-height: 80px;
       margin-top: 50px;
   }

   #text-sec2 {
       margin-top: 30px;
       font-size: 22px;
       color: #4B4B4B;
   }

   .image-section2 {
       margin-top: 100px;
       margin-left: auto;
    }
    
    .image-section2 img {
       width: 560px;
       height: 100%;
   }

   #cards p {
       font-size: 20px;
   }

   #cards i {
       font-size: 45px;
   }

   .grid-container {
       width: min(75rem, 100%);
       margin-inline: auto;
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
       gap: 2rem;
   }

   .card {
       --grad: lightblue, darkblue;
       padding: 2.5rem;
       background-image: linear-gradient(to bottom left, #e0e4e5, #f2f6f9);
       border-radius: 2rem;
       gap: 1rem;
       display: grid;
       grid-template: 'title icon' 'content content' 'bar bar' / 1fr auto;
       font-family: system-ui, sans-serif;
       color: #444447;
       box-shadow:
           inset -2px 2px hsl(0 0 100% / 1),
           -20px 20px 40px hsl(0 0 0 / .25);

       .title {
           font-size: 1.5rem;
           grid-area: title;
           align-self: end;
           text-transform: uppercase;
           font-weight: 600;
           word-break: break-all;
           margin-bottom: 15px;
           color: #1535B5;
       }

       .icon {
           grid-area: icon;

           >i {
               color: transparent;
               background: linear-gradient(to right, var(--grad));
               background-clip: text;
           }
       }

       .content {
           grid-area: content;

           &>*:first-child {
               margin-top: 0rem
           }

           &>*:last-child {
               margin-bottom: 0rem;
               text-align: justify;
           }
       }

       &::after {
           content: "";
           grid-area: bar;
           height: 2px;
           background-image: linear-gradient(90deg, var(--grad));
           /*     margin-inline: -1.5rem; */
       }
   }

   #section3 #pt1 {
        background: url('../img/glas.png')
    no-repeat center center;
    background-size: cover;
    height: 70vh;
       color: white;
       display: flex;
       justify-content: space-between;
       align-items: center;
    }
    
    #section3 #div3 h2 {
       margin: 0 170px;
       font-size: 50px;
       text-align: left;
    width: 50%;
   }

   #section3 #pt1 b {
       color: #6887FF;
       font-weight: 700;
   }

   #section3 #topico {
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       padding: 20px;
       width: 50%;
   }

   #section3 #topico p {
       width: 70%;
       font-size: 24px;
       text-align: left;
       margin: 0 40px 30px 80px;
   }

   #section3 #pt2 {
       height: 80vh;
       display: flex;
   }

   #section3 #pt2 #texto-sec3 {
       width: 47%;
       padding: 10px 50px;

   }

   #section3 #pt2 h2 {
       font-size: 40px;
       margin-top: 50px;
   }

   #section3 #pt2 #texto-sec3 p {
       font-size: 20px;
       text-align: justify;
       color: #4B4B4B;
       margin-top: 40px;
   }

   #section3 #btn-section3 {
       padding: 18px;
       background-color: #1535B5;
       border-radius: 20px;
       margin-top: 45px;
       width: 13em;
       font-weight: 600;
   }

   #btn-section3 a {
       font-size: 24px;
       text-decoration: none;
       color: #fff;
   }

   #img-sec3 {
       width: 50%;
       margin-top: 40px;
   }

   #img-sec3 img {
       width: 560px;
       height: 550px;
       object-fit: cover;
   }

   #section4 {
       height: 100vh;
       background-color: #dadada;
       padding: 40px;
   }

   #div4 {
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       padding: 50px 390px;
   }

   #div4 h2 {
       font-size: 47px;
       text-align: center;
   }

   #div4 b {
       font-weight: 700;
       color: #1535B5;
       text-decoration: underline;
   }

   #div4 p {
       font-size: 20px;
       color: #4B4B4B;
       margin-top: 35px;
       text-align: justify;
   }

   #section4 #btn-section4 {
       padding: 20px;
       background-color: #1535B5;
       border-radius: 20px;
       margin-top: 45px;
       width: 22.5em;
       font-weight: 600;
   }

   #btn-section4 a {
       font-size: 24px;
       text-decoration: none;
       color: #fff;
   }

   #wave {
       position: relative;
   }

   #wave img {
       margin: 0;
       object-fit: cover;
       position: absolute;
       bottom: 0;
       width: 100%;
       z-index: 10;

   }

   /* footer  */

   #footer {
       background-color: #1D34AD;
       color: white;
       display: flex;
       z-index: 2;
   }

   #cima {
       position: absolute;
       top: 3050px;
       left: 100px;
       z-index: 15;
   }

   #cima #neoview-cima {
       display: flex;
       align-items: center;
       margin-left: 50px;
   }

   #cima img {
       width: 70px;
       height: 66px;
   }

   #cima h3 {
       text-align: center;
       color: white;
       font-size: 30px;
   }

   #cima p {
       color: white;
       font-size: 20px;
   }

   #info {
       display: flex;
       gap: 150px;
       margin-top: 40px;
       margin-bottom: 30px;
       margin-left: auto;
       margin-right: auto;
   }


   #download img {
       width: 190px;
   }

   #download h4 {
       font-size: 18px;
       margin-bottom: 10px;
      
   }

   #footer h1 {
       font-size: 27px;
       margin-bottom: 10px;
       cursor: default;
   }

   #footer h2 {
       font-size: 19px;
       cursor: default;
   }

   #footer h5 {
       font-size: 18px;
       cursor: default;
   }

   #footer h4 {
       font-size: 16px;
       cursor: default;
   }

   #footer ul {
       list-style: none;
   }

   #footer a {
       text-decoration: none;
       color: white;
       transition: all 0.2s;
   }

   #footer a:hover {
       color: rgb(193, 205, 255);
   }

   #endereco-email {
       width: 300px;
       text-align: left;
   }

   #endereco-email a {
       text-decoration: underline;
   }

   #endereco-email p {
       margin-bottom: 10px;
   }

   #email-footer {
       margin-top: 15px;
   }

   #desenvolvedores {
       text-align: left;
   }

   #redes-contato {
       width: max-content;
       text-align: left;
   }

   #redes-contato div {
       display: flex;
   }

   #redes-contato ul li i {
       margin: 0 15px;
    }
    
   #barra {
       margin-left: 7px;
       margin-right: 7px;
   }

   .item-contato {
       display: flex;
       gap: 10px;
       margin-bottom: 30px;
       width: max-content;
   }

   .fa-brands {
       font-size: 22px;
   }


   .custom-popup {
       border-radius: 10px;
       padding: 25px;
   }


@media (max-width: 1024px) {
  #div1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text-section {
    padding: 40px;
    width: 100%;
  }

  .text-section h2 {
    font-size: 55px;
    line-height: 70px;
    margin-top: 60px;
  }

  .image-section {
    width: 100%;
  }

  .image-section img {
    width: 80%;
    margin: 40px auto;
    display: block;
  }

  #section2 {
    height: auto;
  }

  #div2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  

  #section2 #texto2,
  .image-section2 {
    width: 90%;
    margin: 0;
  }

  .image-section2 img {
    width: 70%;
  }
}


@media (max-width: 768px) {
  #div1 {
    flex-direction: column;
  }

#nav2 li a{
    padding-left: 30px;
    padding-top: 7px;
}


  .text-section p {
    font-size: 18px;
  }

  #btn-section1 {
    margin: 30px auto;
    width: 12em;
  }

  #section2 {
    height: auto;
    padding-bottom: 40px;
  }

  #title-sec2 h2 {
    font-size: 40px;
    line-height: 55px;
  }

  #text-sec2 {
    font-size: 18px;
  }

  #cards {
    text-align: center;
  }

  #section3 #pt1 h2 {
    font-size: 30px;
  }

  #section3 #pt1 p {
    font-size: 17px;
  }

  #topico{
    flex-direction: column;
  }

  #section3 #pt2 {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  #section3 #pt2 #texto-sec3 {
    width: 90%;
    text-align: center;
    padding: 10px 20px;
}

#section3 #pt2 #texto-sec3 p{
      font-size: 16px;
  }

  #btn-section3{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  #section4 {
    height: auto;
    padding: 40px 20px;
  }

  #div4 {
    padding: 30px 40px;
  }

  #div4 h2 {
    font-size: 35px;
  }

  #div4 p {
    font-size: 18px;
  }

  #footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

#img-sec3, #wave, #cima, .image-section{
    display: none;
  }

  #info {
    flex-direction: column;
    gap: 40px;
    margin: 20px 0;
  }

  #download img {
    width: 160px;
  }

  #redes-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    text-align: center;
  }

  #section4 #btn-section4{
    width: 21em;
    padding: 12px;
  }

  #section4 #btn-section4 a{
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .text-section {
    padding: 20px;
    width: 90%;
  }

  .text-section h2 {
    font-size: 30px;
    line-height: 45px;
    margin-top: 20px;
  }

  .text-section p {
    font-size: 16px;
    text-align: justify;
  }

  #btn-section1 {
    width: 100%;
    max-width: 260px;
    font-size: 16px;
  }

  .image-section2 img,
  #img-sec3 img {
    width: 100%;
  }

  #section2 #texto2{
    padding: 0;
  }

  #section3 #topico{
    flex-direction: column;
    padding: 0;
  }

  #section3 #topico #barra{
    display: none;
  }

  #title-sec2 h2 {
    font-size: 32px;
  }

  #section3 #div3 h2{
    padding: 45px 10px 10px 10px
  }

  #section3 #pt1 h2 {
    font-size: 28px;
  }

  #section3 #pt2 h2 {
    font-size: 30px;
  }

  #div4 {
    padding: 20px;
  }

  #div4 h2 {
    font-size: 28px;
  }

  #div4 p {
    font-size: 16px;
  }

  #footer {
    font-size: 0.9rem;
    padding: 40px 30px;
  }
}


@media (max-width: 360px) {
  body {
    overflow-x: hidden;
  }

  .text-section h2 {
    font-size: 28px;
    line-height: 38px;
  }

  .text-section p {
    font-size: 15px;
  }

  #btn-section1 {
    width: 90%;
    font-size: 15px;
  }

  #section3 #pt1 h2,
  #section3 #pt2 h2 {
    font-size: 25px;
  }

  #div4 h2 {
    font-size: 25px;
  }

  #footer h1,
  #footer h2,
  #footer h4,
  #footer h5 {
    font-size: 15px;
  }
}
 @media (max-width: 768px) {
       #nav1 {
           display: none;
       }

       #formulario {
           display: none;
       }

       nav {
           display: flex;
           align-items: center;
           z-index: 50;
       }

       #nav2 {
           display: flex;
           flex-direction: column;
           position: absolute;
           position: fixed;
           top: 73px;
           left: 0;
           width: 100vw;
           overflow: hidden;
           background-color: white;
           transform: translateY(-105%);
           opacity: 0;
           pointer-events: none;
           transition: transform 0.3s ease, opacity 0.3s ease;
           z-index: 40;
           font-family: 'Montserrat';
       }

       #nav2.mostrar-menu {
           transform: translateY(0);
           opacity: 1;
           pointer-events: auto;
       }

       #botao {
           display: block;
           float: right;
       }

       #li-form button{
        background-color: #1535B5;
        color: #fff;
        font-size: 16px;
        border-radius: 8px;
        border: none;
        font-weight: 600;
        padding: 7px;
       }
   } 